Repository CERTCC/CERT-Guide-to-CVD, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahouseholder, @ehatleback, @sei-vsarvepalli

.github/CODEOWNERS:

# These rules follow a last-match behavior.

# default (if nothing else matches)
* @ahouseholder @ehatleback

# any markdown file in docs
/docs/**/*.md @ahouseholder @ehatleback

# website config
mkdocs.yml @ahouseholder

# github setup
/.github/ @ahouseholder @sei-vsarvepalli

nav cleanup
  mkdocs.yml
Owners: @ahouseholder

clean up drafts
  docs/_drafts/community_management.md
  docs/_drafts/laws_and_regs.md
  docs/_drafts/platform_interoperability.md
  docs/_drafts/policy_management.md
Owners: @ahouseholder, @ehatleback

clean up mkdocs.yml
  mkdocs.yml
Owners: @ahouseholder

Post release cleanup (#21)
  docs/_drafts/community_management.md
  docs/_drafts/laws_and_regs.md
  docs/_drafts/platform_interoperability.md
  docs/_drafts/policy_management.md
  mkdocs.yml
Owners: @ahouseholder, @ehatleback

revise vendor advice
  docs/tutorials/coord_certcc/vendor.md
Owners: @ahouseholder, @ehatleback

revise vendor advice (#22)
  docs/tutorials/coord_certcc/vendor.md
Owners: @ahouseholder, @ehatleback

remove extra {:target="_blank"}
  docs/about/acknowledgements.md
  docs/about/sightings.md
  docs/howto/coordination/_report_credibility.md
  docs/howto/coordination/cvd_recipes.md
  docs/howto/coordination/disclosure_timing.md
  docs/howto/coordination/general_tips.md
  docs/howto/coordination/hype.md
  docs/howto/coordination/independent_discovery.md
  docs/howto/coordination/maintaining_secrecy.md
  docs/howto/coordination/mpcvd.md
  docs/howto/coordination/prioritization.md
  docs/howto/coordination/response_pacing.md
  docs/howto/initiation/find_vendor_contact.md
  docs/howto/initiation/unresponsive_vendor.md
  docs/howto/initiation/useful_reports.md
  docs/howto/operation/_cvd_platform.md
  docs/howto/operation/case_tracking.md
  docs/howto/operation/contact_management.md
  docs/howto/operation/inventory.md
Owners: @ahouseholder, @ehatleback

integrate disclosure policy templates into the guide
  docs/_includes/_quick_start.md
  docs/howto/preparation/choosing_policy.md
  docs/reference/index.md
  docs/reference/policy_templates/Receivers.md
  docs/reference/policy_templates/Reporters.md
  docs/reference/policy_templates/_adjust_to_suit.md
  docs/reference/policy_templates/_consistency_warning.md
  docs/reference/policy_templates/_policy_tips.md
  docs/reference/policy_templates/_terminology.md
  docs/reference/policy_templates/_usage.md
  docs/reference/policy_templates/index.md
  docs/reference/policy_templates/other.md
  docs/reference/policy_templates/style_guide.md
  mkdocs.yml
Owners: @ahouseholder, @ehatleback

minor clean up
  docs/reference/policy_templates/Receivers.md
  docs/reference/policy_templates/Reporters.md
  docs/reference/policy_templates/index.md
Owners: @ahouseholder, @ehatleback

minor clean up
  docs/reference/policy_templates/Receivers.md
  docs/reference/policy_templates/Reporters.md
  docs/reference/policy_templates/_adjust_to_suit.md
  docs/reference/policy_templates/_usage.md
  docs/reference/policy_templates/index.md
Owners: @ahouseholder, @ehatleback

mdlint and link fixes
  docs/reference/policy_templates/_policy_tips.md
  docs/reference/policy_templates/_usage.md
  docs/reference/policy_templates/index.md
  docs/reference/policy_templates/receivers.md
  docs/reference/policy_templates/reporters.md
  docs/reference/policy_templates/style_guide.md
  mkdocs.yml
Owners: @ahouseholder, @ehatleback

fix spacing problem
  docs/reference/policy_templates/_policy_tips.md
  docs/reference/policy_templates/receivers.md
  docs/reference/policy_templates/reporters.md
Owners: @ahouseholder, @ehatleback

Incorporate Disclosure Policy Templates (#27)
  docs/_includes/_quick_start.md
  docs/howto/preparation/choosing_policy.md
  docs/reference/index.md
  docs/reference/policy_templates/_consistency_warning.md
  docs/reference/policy_templates/_policy_tips.md
  docs/reference/policy_templates/_terminology.md
  docs/reference/policy_templates/_usage.md
  docs/reference/policy_templates/index.md
  docs/reference/policy_templates/other.md
  docs/reference/policy_templates/receivers.md
  docs/reference/policy_templates/reporters.md
  docs/reference/policy_templates/style_guide.md
  mkdocs.yml
Owners: @ahouseholder, @ehatleback

Fix links in README.md
  README.md
Owners: @ahouseholder, @ehatleback

Fix headings
  docs/reference/policy_templates/receivers.md
Owners: @ahouseholder, @ehatleback

Fix headings in reporters.md
  docs/reference/policy_templates/reporters.md
Owners: @ahouseholder, @ehatleback

fix #28
  docs/reference/policy_templates/reporters.md
Owners: @ahouseholder, @ehatleback

Fix headings (#29)
  docs/reference/policy_templates/receivers.md
  docs/reference/policy_templates/reporters.md
Owners: @ahouseholder, @ehatleback

replace nvd links with cve.org links
  docs/howto/coordination/hype.md
  docs/howto/coordination/maintaining_secrecy.md
  docs/howto/coordination/mpcvd.md
Owners: @ahouseholder, @ehatleback

Fix one more header
  docs/reference/policy_templates/receivers.md
Owners: @ahouseholder, @ehatleback

add requirements.txt trigger to linkchecker.yml
  .github/workflows/linkchecker.yml
Owners: @ahouseholder, @sei-vsarvepalli

add requirements.txt trigger to linkchecker.yml (#32)
  .github/workflows/linkchecker.yml
Owners: @ahouseholder, @sei-vsarvepalli

replace nvd links with cve.org links (#30)
  docs/howto/coordination/hype.md
  docs/howto/coordination/maintaining_secrecy.md
  docs/howto/coordination/mpcvd.md
Owners: @ahouseholder, @ehatleback

Fix LaTeX loading in mathjax.js
  docs/javascripts/mathjax.js
Owners: @ahouseholder, @ehatleback

Fix LaTeX loading in mathjax.js (#36)
  docs/javascripts/mathjax.js
Owners: @ahouseholder, @ehatleback

Update mkdocs.yml
  mkdocs.yml
Owners: @ahouseholder

Add Thunderbird's built-in support for OpenPGP
  docs/howto/operation/secure_comms.md
Owners: @ahouseholder, @ehatleback

Update _x11.md
  docs/howto/recipes/_x11.md
Owners: @ahouseholder, @ehatleback

Update _x11.md (#67)
  docs/howto/recipes/_x11.md
Owners: @ahouseholder, @ehatleback

docs: fix typo in NIAC Framework title in phases documentation
  docs/topics/phases/index.md
Owners: @ahouseholder, @ehatleback

docs: close open parenthesis around Log4j CVE's
  docs/howto/coordination/maintaining_secrecy.md
Owners: @ahouseholder, @ehatleback

docs: fix markdown parsing issue with underscores in link attributes and italic text
  docs/why_this_guide.md
Owners: @ahouseholder, @ehatleback

docs: fix typo in NIAC Framework title in phases documentation (#74)
  docs/topics/phases/index.md
Owners: @ahouseholder, @ehatleback

docs: close open parenthesis around Log4j CVE's (#75)
  docs/howto/coordination/maintaining_secrecy.md
Owners: @ahouseholder, @ehatleback

update mkdocs-include-markdown plugin to 7.1.2
  requirements.txt
Owners: @ahouseholder, @ehatleback

Update dependabot.yml
  .github/dependabot.yml
Owners: @ahouseholder, @sei-vsarvepalli

Update lint_md_changes.yml
  .github/workflows/lint_md_changes.yml
Owners: @ahouseholder, @sei-vsarvepalli

Removed incomplete citation
  docs/howto/preparation/why_coordinate.md
Owners: @ahouseholder, @ehatleback

Removed incomplete citation (#91)
  docs/howto/preparation/why_coordinate.md
Owners: @ahouseholder, @ehatleback

Update compliance features
  docs/assets/Software_Engineering_Institute_Unitmark_White.svg
  docs/stylesheets/extra.css
  mkdocs.yml
  overrides/partials/copyright.html
Owners: @ahouseholder, @ehatleback
